ul{
    color:black;
    background-color:#d3394d
}
#sub2{
    background-color: #b22c3e
}
#sub3{
    background-color:#af081f
}
#sub4{
    background-color: #ea4f65
}
#sub5{
    background-color:#a32d3e
}
#sub6{
    background-color:#910f22
}
li{
    border-radius: 1px;
    width: 185x;
  
}